nav {
	background: #b34599;
}

#allButtons button,
#allButtons button:active {
	color: #fff;
	border-color: #b34599;
	background: #b34599;
	box-shadow: none;
}

#allButtons button:hover {
	color: #fff;
	background: #833170;
	border-color: #833170;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#footsies {
	position: absolute;
	bottom: 0;
	width: 100%;
}
